@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Azeret Mono", monospace;
    font-style: none;
}

.btn-primary {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 15px 22px 15px 22px;
    opacity: 0.8;
    cursor: pointer;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 41px 80px 36px;
}

nav ul li {
    list-style: none;
}

.my-name {
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-nav {
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;

}

/* Banner section */


.container-1 {
    background: url('../B10A1/assets/Hero-bg.png');
    width: 100%;
    height: 652px;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 74px;
}

.box-1 {
    padding: 26px 121px 44px;
}

.cont-1-title {
    color: rgb(13, 19, 33);
    font-size: 47px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.cont-1-description {
    padding: 0 30px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.cont-1-btn {
    padding: 20px 23px 20px 23px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin: 15px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

.cont-1-btn a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Why web developer section */
.sec-2 {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px 150px;
}


.container-2 {
    margin: 80px 90px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cont-2-box-1 {
    text-align: center;
    margin-bottom: 90px;
}

.cont-2-box-1-title {
    color: rgb(13, 19, 33);
    font-size: 29px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin: 24px 0px;
}

.cont-2-box-1-description {
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    /* text-align: center; */
    margin: 24px 0px;
}

.cont-2-box-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.cont-2-child-1,
.box-4-child-1 {
    width: 450px;
    height: 220px;
}

.cont-2-box-2-title,
.cont-2-box-3-title,
.cont-2-box-4-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.cont-2-box-2-description,
.cont-2-box-3-description,
.cont-2-box-4-description {
    margin: 10px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.cont-2-box-2-btn,
.cont-2-box-3-btn,
.cont-2-box-4-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    border-radius: 0px;
    margin: 18px 0px 10px 0px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.cont-2-box-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.box-3-child-1 {
    margin-left: 65px;
    margin-right: 40px;
    width: 450px;
    height: 220px;
}

.cont-2-box-4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

/* My inspiration section */

.sec-3 {
    margin: 0px auto;
    width: 1000px;
    height: 774px;
    padding: 0px 150px;
    text-align: center;
}

.sec-3-box-1 {
    padding: 0px 65px;
    margin-bottom: 40px;
}

.sec-3-box-1-description {
    font-size: 14px;
}

.sec-3-img {
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

iframe {
    width: 95%;
    height: 500px;
    border-radius: 16px;
}

/* Cards section */


.sec-4-box-1-description {
     margin-bottom: 47px; 
}

.sec-4 {
    width: 1000px;
    height: 1510px;
    text-align: center;
    margin: 0px auto;
}

.cards {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    width: 1100px;
}

.card {
    border-radius: 16px;
    padding: 33px;
    text-align: left;
    width: 247px;
    height: 220px;
    margin-bottom: 100px;
}

.card-1 {
    background: rgba(255, 76, 30, 0.05);
}

.card-3 {
    background: rgba(0, 76, 232, 0.05);
}

.card-2 {
    background: rgba(255, 223, 0, 0.05);
}

.card-1 a,
.card-2 a,
.card-3 a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

.card-1-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.card-1-description {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
}

/* Extra section */
.cards-2 {
    margin-bottom: 5px;
}

.react-card {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 34px;
    text-align: left;
    margin-bottom: 20px;
}

.react-title {
    color: rgb(13, 19, 33);
    font-size: 23px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.react-description {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.react-card a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

/* Support section */
.sec-5 {
    width: 910px;
    height: 190px;
    border-radius: 16px;
    background: linear-gradient(270deg, rgba(16, 16, 16, 0.333) -19.5%, rgba(16, 16, 16, 0.2) 100%), linear-gradient(90deg, rgba(16, 16, 16, 0.333) -19.5%, rgba(16, 16, 16, 0.2) 100%), url(../B10A1/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 50px 45px 50px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 75px;
}

.support {
    padding: 0px 100px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.support-description {
    margin-bottom: 36px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

input[type="text"] {
    width: 548px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
}

input[type="button"] {
    border-radius: 8px;
    color: rgb(13, 19, 33);
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    margin: 2px 10px 45px;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
}

.footer {
    width: 1000px;
    height: 36px;
    margin: 0px auto;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    margin: 0px 16px;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}